<!-- create_post.html -->
{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Create a New Post</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Bootstrap Form -->
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3 row">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- Load TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/ugma52zdy0d7t7pei4a4x6my9gg14y6er7usvuvpkzu0dvs8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 700,  // Set the height of the editor
            menubar: false,  // Hide the menu bar
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount',
                'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            ],
            toolbar: ['undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
                'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'],
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list:[ { value: 'First.Name', title: 'First Name' },{ value: 'Email', title: 'Email' },],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            content_style: 'body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; }' 
        });
    </script>
</div>
{% endblock body %}